/* css styles */

/* GLOBAL STYLES */
  
* {
    box-sizing: border-box;
    }
   
body {
background-color: rgb(220, 227, 228);
margin: 50px;
}

.item {
border: 1px solid #87b5ff;
border-radius: 3px;
font-size: 1.5em;
font-family: sans-serif;
}  